.load-more {
  display: block;
  width: 200px;
  height: 40px;
  margin: 30px auto 0 auto;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  background-color: cornflowerblue;
  cursor: pointer;
  transition: font-weight 250ms linear, color 250ms linear,
    background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: darkblue;
    color: #ffffff;
    font-weight: 700;
  }
}
